body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100vw;
  background: linear-gradient(0deg, #031F62 0%, #031F62 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.HanoiMetroCCTuyNTULChTrNhChYTUBNTrCTuyNNight768px {
  min-width: 320px;
  max-width: 425px;
  width: 100%;
  position: relative;
  overflow-y: auto;
}
